<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <script src="https://assets.codepen.io/assets/common/stopExecutionOnTimeout.js?t=1"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
    <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.js"></script>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"/>
    <link rel="stylesheet prefetch" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.css"/>
    <link rel="stylesheet prefetch" href="https://material.angularjs.org/1.1.0-rc.5/docs.css"/>
    
 
    
   
    
  
</head>
<style>
.chipsdemoCustomInputs md-content.autocomplete {
  min-height: 200px; }

.chipsdemoCustomInputs input[type=number] {
  width: 110px; }

.chipsdemoCustomInputs .veggie-option {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 8px; }

.chipsdemoCustomInputs .veggie-option .md-item-text {
  padding: 8px;
  border-radius: 3px; }

.chipsdemoCustomInputs .veggie-option .md-item-text h3,
.chipsdemoCustomInputs .veggie-option .md-item-text p {
  padding: 0;
  margin: 0; }

</style>
<body>
    <div ng-controller="demoController" layout="column" ng-cloak="">
        {{msg}}

            <button type="submit" class="btn btn-primary" ng-click="upload()">Upload</button>
        
         <h2 id="autocompleteTitle" class="md-title">
          Use <code>md-autocomplete</code> to build an ordered set of chips.
        </h2>
        <div class="form" ng-if="myvar == true">
        <md-chips ng-model="tag" md-autocomplete-snap="" 
        md-transform-chip="transformChip($chip)" md-require-match="autocompleteDemoRequireMatch" 
        input-aria-label="Favorite Vegetables">
          <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" 
          md-items="item in querySearch(searchText)" md-item-text="item" 
          input-aria-describedby="autocompleteTitle" placeholder="Search for a vegetable">
            <span md-highlight-text="searchText">{{item}}</span>
          </md-autocomplete>
          <md-chip-template>
            <span>
              <strong>{{$chip}}</strong>
            
            </span>
          </md-chip-template>
        </md-chips>
    
        <br>
        <h2 class="md-title">Vegetable Options</h2>
    
        <md-list>
          <md-list-item class="md-2-line veggie-option" ng-repeat="veg in ctrl.vegetables" layout="row" layout-wrap="">
            <div class="md-item-text md-whiteframe-z1" flex="">
              <h3>{{veg}}</h3>
             
            </div>
          </md-list-item>
        </md-list>
    
      </md-content> 
    
                </div> 
            </div>
    
  
</body>
</html>












